.row {
	display: flex;
	flex-direction: row;
}

.col-12 {
	width: 100%;
}

.col {
	flex: auto;
	/*width: 100%;*/
}

.input {
	width: 100%;
}

.mx-5 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.task-wrap {
	border: 1px solid;
	padding: 1%;
}